extends ./layout.jade

block title
    title Сurriculum vitæ

block content
    .container
        h1 Aleksey Verkholantsev
        p JavaScript developer at&nbsp;Yandex, Moscow.
        .right.contacts
            p Skype: verkholantsev
            p
                a(href="mailto:poshli.pismo@gmail.com") poshli.pismo@gmail.com
        h2 Skills
        p
            strong
                code Javascript
        p
            code MVC
            |  (
            code Backbone
            | ,
            code  Rivets
            |  )
        h2 Experience
