doctype html
html(lang="ru")
    head
        block title
            title verkholantsev.ru
        include ./meta.jade
        include ./styles.jade
        include ./fonts.jade
        include ./ga.jade
    body
        block content
