block title
    title verkholantsev.ru

doctype html
html(lang="ru")
    head
        block title
        include ./meta.jade
        include ./styles.jade
        include ./fonts.jade
        include ./ga.jade
    body
        block content
