normal-weight = 400
font-size = 22px
gray = #999
small-screen = "only screen and (max-width: 500px)"
big-screen = "only screen and (min-width: 1620px)"

fonts()
    font-family 'PT Serif', serif
    font-weight normal-weight
    font-size font-size
    -webkit-font-smoothing antialiased
