.footer
    height 50%
    width 100%
    text-align center

.footer:before
    content ''
    height 100%
    vertical-align middle
    display inline-block

    @media small-screen
        display none

.footer__content
    max-width 800px
    margin auto
    padding 1em 1em
    vertical-align middle
    display inline-block
