.header
    min-height 320px
    text-align center
    height 50%
    background-image url('images/_background.jpg')
    background-position center center
    background-color #87868B

    @media small-screen
        height initial
        min-height initial

    @media big-screen
        background-size 100%

.header:before
    content ''
    height 100%
    vertical-align middle
    display inline-block

    @media small-screen
        display none

.header__content
    text-align left
    max-width 800px
    color white
    vertical-align middle
    display inline-block
    padding 1em 1em

    @media small-screen
        display block
