extends ../templates/layout.jade

block title
    title Сurriculum vitæ

block content
    .container.with-padding
        h1 Aleksey Verkholantsev
        p JavaScript developer at&nbsp;Yandex, Moscow.
        .right.contacts
            p Skype: verkholantsev
            p
                a(href="mailto:poshli.pismo@gmail.com") poshli.pismo@gmail.com
        :markdown
            ##Skills

            `Javascript`

            `MVC` (`Backbone`, `Rivets`)

            `BEM` (`i-bem`, `BEMHTML`, `ENB`, `bem-mvc`)

            `Node.js` (`Express`)

            `TDD/BDD` (`Mocha`, `Must.js`, `Karma`)

            `Debian/Ubuntu`

            `Docker`

            ##Experience

            ###Frontend developer at Yandex LLC, Moscow

            <small>August 2013 &mdash; current</small>

            Integration of `MVC` and `TDD/BDD`, UI&nbsp;migration from&nbsp;backend to&nbsp;`Node.js`. `JavaScript`.

            ###Frontend developer at JSC Prognoz, Perm

            <small>October 2012 &mdash; August 2013</small>

            Developing of&nbsp;single page web-application for&nbsp;data visualization and analysis. `JavaScript`, `C#`.

            ###Freelance web-developer

            <small>June 2010 &mdash; October 2012</small>

            Developing of&nbsp;web-sites. `JavaScript`, `PHP`, `HTML` coding.

            ##Education
            <small>September 2005 &mdash; June 2010</small>

            Perm National Research Polytechnic University, The Department for&nbsp;Information Technologies and Computer-Aided Systems.

            Degree in&nbsp;data processing and control systems engineering.

            ##Languages

            Russian, native.

            English, intermediate.

        include ../templates/divider.jade
