extends ../templates/layout.jade

mixin link(url, name)
    li
        a(href= url)= name

block content
    .header
        .header__content
            .avatar
                img(src="images/_avatar.jpg" alt="Avatar" height="200px" width="200px")
            .about
                .info
                    p My name is Aleksey Verkholantsev, I'm JavaScript developer at Yandex, Moscow.
    .footer
        .footer__content
            ul.contacts
                +link('https://github.com/verkholantsev', 'Github')
                +link('http://habrahabr.ru/users/verkholantsev', 'habrahabr.ru')
                +link('http://www.linkedin.com/profile/view?id=229106429', 'Linkedin')
                +link('https://facebook.com/verkholantsev', 'Facebook')
                +link('mailto:poshli.pismo@gmail.com', 'E-mail')
