extends ../templates/layout.jade

mixin link(url, name)
    li
        a(href= url)= name

mixin divider
    .divider
        span ***

block content
    .header
        .header__content
            .avatar
                img(src="images/_avatar.jpg" alt="Avatar" height="100px" width="100px")
            .about
                .info
                    p My name is Aleksey Verkholantsev, I'm JavaScript developer from Yandex, Moscow.
    .footer
        .footer__content
            h3 Posts (in Russian)
            ul.posts
                +link('/static-node-in-docker-container.html', 'The smallest Docker image with Node.js')
                +link('/testing-in-different-enviroment-with-docker.html', 'Testing code in different versions of Node.js')
                +link('http://habrahabr.ru/post/210330/', 'Hanging up on Callbacks: Generators in ECMAScript 6 (translation)')
                +link('http://habrahabr.ru/post/199456/', 'Bind, Call and Apply in JavaScript (translation)')

            +divider()

            ul.contacts
                +link('https://github.com/verkholantsev', 'Github')
                +link('http://habrahabr.ru/users/verkholantsev', 'habrahabr.ru')
                +link('http://www.linkedin.com/profile/view?id=229106429', 'Linkedin')
                +link('http://vk.com/verkholantsev', 'vk.com')
                +link('mailto:poshli.pismo@gmail.com', 'E-mail')
