extends ../templates/layout.jade

mixin contact(url, name)
    li
        a(href= url)= name

mixin divider
    .divider
        span ***

block content
    .container
        .avatar
            img(src="images/avatar.jpg" alt="Avatar")
        .about
            .info
                p Меня зовут Алексей Верхоланцев, мне 26&nbsp;лет. Сейчас я живу в&nbsp;Москве и занимаюсь разработкой пользовательских интерфейсов в&nbsp;Яндексе. Иногда я перевожу статьи о&nbsp;JavaScript с&nbsp;английского и публикую их на&nbsp;Хабре.

                +divider()

                ul.contacts
                    +contact('https://github.com/verkholantsev', 'Гитхаб')
                    +contact('http://habrahabr.ru/users/verkholantsev', 'Хабрахабр')
                    +contact('http://www.linkedin.com/profile/view?id=229106429', 'Линкдин')
                    +contact('http://vk.com/verkholantsev', 'Контакт')
                    +contact('mailto:poshli.pismo@gmail.com', 'Почта')

